@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  /* background-image: url("../public/bg-white.jpg"); */
  background-color: #fff;
  object-fit: cover;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 5s linear infinite;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}
::-webkit-scrollbar-track {
  background: #e6eefa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #093d89;
  border-radius: 5px;
}

textarea {
  height: max-content;
}
